.cart-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h2 {
  color: #fff;
}

.item-text{
  color: #fff;
  font-weight: 600;
}