.details-container {
  padding: 3rem;
  min-height: 90vh;
  max-height: 100%;
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .product-detail{
    min-width: 800px;
  }