.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url('./assets/bg.svg');
  background-position: top center;
	background-size: cover;
	background-attachment: fixed;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track:hover {
		border: 1px solid rgb(184, 184, 184);
		border-radius: #e48201;
}

::-webkit-scrollbar-track:hover {
		border: 1px solid rgb(184, 184, 184);
		border-radius: #e48201;

}

::-webkit-scrollbar-thumb {
	background: rgba(51, 51, 51, 0.2);
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #254E70;
}

::-webkit-scrollbar-thumb:hover {
	background: #313131;
}
